@import url(https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap);

:root {
  --font: "Archivo",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

  --tiny: 24rem; /* 384px; */
  --small: 50rem; /* 800px; */
  --medium: 64rem; /* 1024px */
  --large: 75rem; /* 1200px */
  --huge: 100rem; /* 1600px */

  --primary: #0267ff;
  --secondary: #996;
  --tertiary: rgb(177, 177, 120);

  --site-width-min: 85vw;
  --site-width-max: 64rem;
  --site-width: var(--site-width-min);
  --site-padding: calc((100vw - var(--site-width)) / 2);
}

html {
  /* font-size: clamp(1rem, -0.875rem + .333333vw, 3.5rem); */
    /* font-size: clamp(var(--tiny),var(--huge), 1, 3.5rem); */
    font-size: 22px;
}
body {
  --grad-1: rgb(118, 118, 78);
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: var(--font);
  color: var(--primary);
  background: var(--tertiary);
  background: var(--secondary);
  background: linear-gradient(
    0deg,
    var(--grad-1) 0%,
    var(--tertiary) 50%,
    var(--grad-1) 100%
  );
  
}
canvas {
  background-image: url(https://collisions.cc/static/media/BackgroundExplosion.09339bc7.png);
  background-position: center;
  background-size: cover;
}
#stage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#blocker {
  position: absolute;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  display: flex;
}

#instructions {
  flex: 1;
  font-size: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
#play {
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 10rem; */
  cursor: pointer;
  transform: translateX(-50%) translateY(-50%);
}

aside.font-info {
  font-size: 0.75rem;
  background: white;
  text-align: center;
  padding: 0.25rem;
}
main {
  position: relative;
  display: flex;
  flex-direction: column;
}
header img {
  height: 100%;
  /* position: absolute;
  transform: translateX(-50%); */
}
header,
footer {
  text-align: center;
  padding: var(--site-padding);
}
section {
  width: 100vw;
  min-height: 100vh;
}
footer {
  font-size: 0.75rem;
}
.section-inner {
  width: var(--site-width);
  margin: 0 auto;
}

.section--background img {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

p.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

button {
  height: 2rem;
  padding: 0 2rem;
  border: none;
  font-size: 0.8rem;
  font-family: var(--font);
  text-transform: uppercase;
  background: var(--primary);
  color: var(--secondary);
  border-radius: 0.1rem;
  cursor: pointer;
  transition: all 0.5s;
}
button:hover {
  background: #000;
  color: white;
}

.info {
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  font-size: 0.75rem;
  background: var(--primary);
  color: var(--secondary);
  text-align: center;
  padding: 0.25rem;
}

h1 {
  position: fixed;
  top: 0;
  margin: 0;
  width: 100vw;
  text-align: center;
  font-size: 1rem;
  background: var(--primary);
  color: var(--secondary);
  text-align: center;
  padding: 0.25rem;
}
